@font-face {
    font-family: dbz;
    src: url("../../../unit-4-game/assets/css/Saiyan-Sans.ttf");
}
body {
    font-family: dbz;
    overflow: hidden;
    background: black;
}
.button {
    background-image: linear-gradient(to right, yellow, red, orange);
    font-family: dbz;
    border: 3px solid red;
    border-radius: 2em;
    position: absolute;
    left: 5.8em;
    top: 3.7em;
    font-size: 7em;
    color: white;
    letter-spacing: -1px;
    z-index: 100;
    opacity: 1;
}
.button5 {
    background-image: linear-gradient(to right, yellow, red, orange);
    font-family: dbz;
    border: 3px solid red;
    border-radius: 2em;
    position: absolute;
    left: 12.8em;
    top: 4.4em;
    font-size: 7em;
    color: white;
    letter-spacing: -1px;
    z-index: 100;
    opacity: 1;
}
.button6 {
    background: lightblue;
    font-family: dbz;
    border: 3px solid red;
    border-radius: 2em;
    position: absolute;
    left: 12.8em;
    top: 4.4em;
    font-size: 7em;
    color: white;
    letter-spacing: -1px;
    z-index: 100;
    opacity: 1;
}
.mainimage {
    position: absolute;
    height: 100%;
    width: 100%;
}
.left {
    background: black;
    position: absolute;
    width: 49.8%;
    border-right: 5px solid red;;
    height: 100%;
    left: -60em;
}
.right {
    background: black;
    position: absolute;
    width: 49.8%;
    border-left: 5px solid yellow;;
    height: 100%;
    right: -60em;
}
.welcome {
    position: absolute;
    top: 0em;
    color: white;
    right: 0em;
    font-size: 8em;
}
.compete {
    position: absolute;
    top: 1.5em;
    color: white;
    right: 0em;
    font-size: 5em;
}
.games {
    position: absolute;
    top: 0em;
    color: green;
    left: 0em;
    font-size: 11em;
}
.instruct {
    position: absolute;
    top: 2.5em;
    color: red;
    left: 1.2em;
    font-size: 8em;
}
.instructions {
    position: absolute;
    list-style-type: disc;
    top: 8.5em;
    color: red;
    left: 2.5em;
    font-size: 3.5em;
}
li {
    padding: 10px;
}
.gamestart {
    position: absolute;
    font-family: dbz;
    top: 3em;
    border: 5px solid red;
    border-radius: 5em;
    color: blue;
    right: 0.5em;
    font-size: 10em;
    word-spacing: -10px;
}

.gamestart:hover {
    box-shadow: 0px 5px 5px 15px yellow;
}
.opponentimage {
    background: black;
    position: absolute;
    left: 0.1em;
    top: 5em;
    height: 20em;
    width: 40em;
    border: 5px solid black;
    z-index: 5;
}
.cellintro {
    
    background: black;
    position: absolute;
    left: 5em;
    top: -5em;
    height: 70em;
    width: 50em;
    border: 5px solid black;
    z-index: 10;
}
.gokussintro {
    background: black;
    position: absolute;
    right: 5em;
    top: -5em;
    height: 70em;
    width: 50em;
    border: 5px solid black;
    z-index: 11;
}
.gokublueintro {
    background: black;
    position: absolute;
    right:0em;
    top: -26em;
    height: 110em;
    width: 100em;
    border: 5px solid black;
    z-index: 11;
}
.cellstat {
    background: white;
    position: absolute;
    left: 0.1em;
    top: 25em;
    height: 4em;
    width: 40em;
    border: 5px solid black;
}
.cellfinish {
    background: black;
    position: absolute;
    left: 0em;
    top: 0em;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    z-index: 10;
}
.gokufinish {
    background: black;
    position: absolute;
    left: 0em;
    top: 0em;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    z-index: 10;
}
.gokustat {
    background: white;
    position: absolute;
    right: 0.1em;
    top: 25em;
    height: 4em;
    width: 40em;
    z-index: 5;
    border: 5px solid black;
}
.beam {
    position: absolute;
    bottom: 8em;
    right: 46em;
}
.dragon {
    position: absolute;
    left:30em;
    z-index: 6;
    animation: dragon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    opacity: 0;
}
.gokubluepsrite {
    position: absolute;
    right: 40.5em;
    top: 43em;
    width: 1%;
    height: 20%;
    animation-name: right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.powerup1 {
    position: absolute;
    right: -3em;
    top: 0em;
    height: 30em;
    width: 50em;
    z-index: 4;
    animation-name: pulse;
    animation-duration: 0.4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.wish1{
    position: absolute;
    border: 10px solid red;
    background: blue;
    border-radius: 5em;
    top: 4.3em;
    left:1.4em;
    font-size: 10em;
    z-index: 7;
}

@keyframes dragon {
    0% {top: 0em;}
    100% {top: 3em;}
}
.laser {
    width: 0%;
}
h3 {
    text-align: center;
    font-size: 50px;
}
.fighterimage {
    background: black;
    position: absolute;
    right: 0.1em;
    top: 5em;
    height: 20em;
    width: 40em;
    border: 5px solid black;
    z-index: 5;
}
.opp1 {
    position: absolute;
    left: 4em;
    top: 30em;
    width: 15%;
    height: 20%;
}
.imgone {
    height: 100%;
    width: 100%;
}
.opp {
    border: 5px solid black;
    border-radius: 15px 15px;
}
.opp2 {
    background: black;
    color: white;
    position: absolute;
    left: 24.5em;
    top: 30em;
    width: 15%;
    height: 20%;
}
.opp3 {
    background: black;
    color: white;
    position: absolute;
    left: 14.5em;
    top: 43em;
    width: 15%;
    height: 20%;
}
.opp:hover {
    box-shadow: 0px 5px 5px 15px #ffd900;
}
.fighter1 {
    position: absolute;
    right: 5em;
    top: 30em;
    width: 15%;
    height: 20%;
}
.fighter2 {
    background: black;
    color: white;
    position: absolute;
    right: 24.5em;
    top: 30em;
    width: 15%;
    height: 20%;
}
.fighter3 {
    background: black;
    color: white;
    position: absolute;
    right: 14.5em;
    top: 43em;
    width: 15%;
    height: 20%;
}
.fight {
    border: 5px solid black;
    border-radius: 15px 15px;
}
.fight:hover {
    box-shadow: 0px 5px 5px 15px #ffd900;
}

.imgtwo {
    height: 100%;
    width: 100%;
}
h2 {
    font-size: 10em;
    margin-left: 50px;
}
.question {
    position: absolute;
    left: 43.5em;
    top: 43em;
    width: 1%;
    height: 20%;
    animation-name: left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.imgthree {
    height: 200px;
    width: 100px;
}
.cell {
    height: 90%;
}
.cellsprite {
    position: absolute;
    left: 40.5em;
    top: 43em;
    width: 10%;
    height: 30%;
    animation-name: left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes left {
    0% {top: 700px; left: 600px;}
    25% {top: 700px; left: 620px;}
    50% {top: 700px; left: 620px;}
    75% {top: 700px; left: 620px}
    100% {top: 700px; left: 600px;}
}

.gokuss {
    position: absolute;
    right: 40.5em;
    top: 43em;
    width: 1%;
    height: 20%;
    animation-name: right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.gokuebsprite {
    position: absolute;
    right: 40.5em;
    top: 43em;
    width: 5%;
    height: 25%;
    animation-name: right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.question1 {
    position: absolute;
    right: 43.5em;
    top: 43em;
    width: 1%;
    height: 20%;
    animation-name: right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes right {
    0% {top: 700px; right: 700px;}
    25% {top: 700px; right: 720px;}
    50% {top: 700px; right: 720px;}
    75% {top: 700px; right: 720px}
    100% {top: 700px; right: 700px;}
}
.charactertitle {
    background: white;
    color: black;
    position: absolute;
    right: 45em;
    top: 10em;
    height: 21em;
    width: 30em;
    border: 5px solid red;
    border-radius: 5em;
}
.fighting {
    background: red;
    color: black;
    position: absolute;
    font-family: dbz;
    right: 29em;
    top: 20em;
    height: 5em;
    width: 6em;
    border: 5px solid red;
    border-radius: 1em;
    font-size: 30px;
}
.character {
    text-align: center;
    font-size: 7.1em;
}