@font-face {
    font-family: dbz;
    src: url('../css/Saiyan-Sans.ttf');
}

body {
    font-family: dbz;
    overflow: hidden;
}
.backimage {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.cloud1 {
    background-image: url("../images/cloud_burned.png");
    position: absolute;
    top: 5em;
    background-repeat: no-repeat;
}
.db1 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20em;
    left: 20em;
}
.dbball {
    height: 20em;
    width: 20em;
    border: 1px solid black;
    background: black;
    border-radius: 100em;
}
.db2 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15em;
    left: 40em;
}
.db3 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10em;
    left: 60em;
}
.db4 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5em;
    left: 80em;
}
.db5 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10em;
    left: 100em;
}
.db6 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15em;
    left: 120em;
}
.db7 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20em;
    left: 140em;
}
.blacktop {
    background: black;
    width: 100%;
    height: 10em;
    position: absolute;
    top: 0px;
    overflow: hidden;
}
.titletext {
    color: white;
    font-size: 10em;
    text-align: center;
}
.blackbottom {
    background: black;
    width: 100%;
    height: 5em;
    position: absolute;
    bottom: 0px;
}
@keyframes ball {
    
}