@font-face {
    font-family: dbz;
    src: url('../css/Saiyan-Sans.ttf');
}

body {
    font-family: dbz;
    overflow: hidden;

}
.backimage {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -500;
}
.h1 {
    margin: auto;
    width: 90%;
    font-size: 13em;
    color: black;
}
.h2 {
    margin: auto;
    width: 95%;
    font-size: 8.2em;
    color: black;
}
.h3 {
    margin: auto;
    width: 70%;
    font-size: 6em;
    color: black;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 5px 15px #1900ff;
}
.button {
    margin: auto;
    font-size: 7em;
    border: 3px solid black;
    background: red;
    padding: 0.3em;
    border-radius: 10em;
}
.button1 {
    margin: auto;
    font-size: 5em;
    border: 3px solid black;
    background: red;
    padding: 0.3em;
    border-radius: 5em;
}
.titlescreen {
    position: absolute;
    border-radius: 15em;
    color: white;
    top: 11em;
    left: 19em;
    z-index: 20;
    text-align: center;
    background-image: linear-gradient(to right, red, yellow, orange);
}
.cloud {
   position: absolute;
   top: 10em;
   left: 10em;
   animation-name: cloud;
   animation-duration: 3s;
   animation-direction: alternate-reverse;  
   animation-iteration-count: infinite;
   z-index: -11;
}

.cloud1 {
    position: absolute;
    top: 23em;
    left: 10em;
    animation-name: cloud1;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    z-index: -21;
 }
.rpggame {
    background: black;
    position: absolute;
    top: 40em;
    opacity: 0;
    height: 12em;
    width: 10em;
    z-index: 12;
    left: 83em;
}
.cloud2 {
    position: absolute;
    top: 14em;
    left: 10em;
    animation-name: cloud1;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    z-index: -21;
}
.onecloud {
    height: 180%;
    width: 180%;
}
.score {
    background: black;
    color: white;
    position: absolute;
    font-size: 5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5em;
    top: 2.5em;
    left: 0em;
    padding: 10p;
    height: 25%;
    width: 14%;
}

.twocloud {
    height: 150%;
    width: 150%
}
.twocloud1 {
    height: 180%;
    width: 180%
}
@keyframes cloud {
    0% {left: 150rem;}
    100% {left: 0rem;}
}
@keyframes cloud1 {
    0% {left: 0rem;}
    100% {left: 150rem;}
}
.shenron {
    position: absolute;
    z-index: -5;
    left: 25em;
    animation: dragon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes dragon {
    0% {top: 0em;}
    100% {top: 3em;}
}
.dragon {
    height: 200%;
    width: 200%;

}
.maincount {
    background: gainsboro;
    border: 3px solid black;
    border-radius: 40em;
    width: 30em;
    height: 15em;
    position: absolute;
    bottom: 40em;
    left: 20em;
    z-index: 50;
}
.computercount {
    text-align: center;
    position: absolute;
    left: 1em;
    top: 0.3em;
    font-size: 8em;
}
.numbergoal {
    text-align: center;
    position: absolute;
    left: 1.5em;
    top: 0.3em;
    font-size: 8em;
}
.playercount {
    background: gainsboro;
    border: 3px solid black;
    border-radius: 40em;
    width: 30em;
    height: 15em;
    position: absolute;
    bottom: 40em;
    left: 130em;
    z-index: 50;
}   
.db1 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20em;
    left: 20em;
}
.cellfinal {
    position: absolute;
    bottom: 5em;
    opacity: 0;
    left: 22em;
    height: 80%;
    width: 80%;
    z-index: -1
}
.cellone {
    position: absolute;
    left: 60em;
    top: 20em;
    height: 10%;
    opacity: 0;
}
.celltwo {
    position: absolute;
    left: 160em;
    top: 40em;
    height: 30%;
    opacity: 0;

}
.dbball:hover {
    box-shadow: 0px 5px 5px 15px #ffd900;
    cursor: pointer;
}
.dbball {
    height: 20em;
    width: 20em;
    border: 1px solid black;
    background: black;
    border-radius: 100em;
}
.db2 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15em;
    left: 40em;
}
.db3 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10em;
    left: 60em;
}
.db4 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5em;
    left: 80em;
}
.db5 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10em;
    left: 100em;
}
.db6 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15em;
    left: 120em;
}
.db7 {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20em;
    left: 140em;
}
.blacktop {
    background: black;
    width: 100%;
    height: 10em;
    position: absolute;
    top: 0px;
    overflow: hidden;
}
.titletext {
    color: white;
    font-size: 10em;
    text-align: center;
}
.blackbottom {
    background: black;
    width: 100%;
    height: 5em;
    position: absolute;
    bottom: 0px;
}
.newgame {
    background: black;
    border: 5px solid yellow;
    border-radius: 5em; 
    width: 40%;
    height: 8em;
    position: absolute;
    left: 55em;
    bottom:70em;
    z-index: 5;
    text-align: center;
}
a:hover, a:visited, a:link {
    text-decoration: none;
    font-size: 100px;
    color: red;
}

